# python 3.13

# [1] 데이터 처리 및 분석
pandas==2.3.3
numpy==2.2.6
db-dtypes==1.4.3
pyarrow==22.0.0
scipy==1.15.3
scikit-learn==1.7.2
xgboost==3.0.5
joblib==1.5.2

# [2] 구글 클라우드 및 API
google-cloud-bigquery==3.38.0
google-auth==2.41.1
google-api-core==2.28.0

# [3] 프로세스 마이닝 및 시각화
pm4py==2.7.19.1
networkx==3.4.2
graphviz==0.21
pyvis==0.3.2
matplotlib==3.10.7
seaborn==0.13.2
plotly==6.5.0

# [4] 거리 계산 및 문자열 처리
Levenshtein==0.27.3
python-Levenshtein==0.27.3
RapidFuzz==3.14.3

# [5] 기타
tqdm==4.67.1
lxml==6.0.2